/*
Jason Hope
Victus Technologies
6/29/2018
*/
/*Custom Card for Article Templates built off of [cardmanager.css] */



/* Fonting */
.title {
	font-size: 24px;
	font-style: bold;
	text-indent: 0;
}

.author {
	font-size: 12px;
	font-style: italic;;
	text-indent: 0;
}

p{
	font-size: 16px;
	color: #E2E7D3;
	text-indent: 0px;
	text-shadow: 2px 3px black;
}

p.ital{
	font-style: italic;
	text-indent: 0px;
}




/* Image Management */

.cardimage {
	margin-left: 4em;
	float: left;
	width: 550px;
	padding: 2em 1em 1em 2em ;
}
.newsimage{
	width: 100%;
	list-style: none;
	margin: 2em;
}

/* Basic Card Management */

.newscard {
	position: relative;
	width: 100%;
	list-style: none;
}
.contactcard{
	position: relative;
	left: 50%;
	top: 50%;
	transform: translate(-50%);
	width: 75%;
	list-style: none;
	margin-bottom: 6em;
}

.cardcontainer {
	padding: 4px 42px;
	margin: 4em;
    background-color: rgba(15, 18, 15, 1);
}
