/*
Jason Hope 
Victus Technologies
7/2/2018
*/


/* Generic Card Management */
.cardcontainer {
	padding: 0 16px;
}
.cardcontainer::after, .row::after{
	content: "";
	clear: both;
	display: table;
}
.title {
	color: white;
}
.button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: white;
	background-color: black;
	text-align: center;
	width: 100%;
}
.button:hover {
	background-color: #555;
}


/* Contact Card Management */
.contactcard {
	width: 100%;
	box-shadow: 0 8px 32px 0 white;
	background: gray;
}
.cardimage {
	width: 100%;
}

/* History Card Management */

.historycard {
	box-shadow: 0 8px 32px 0 white;
	background: gray;
}