/*
Jason Hope 
Victus Technologies
7/2/2018
*/


/* Generic Card Management */

.cardcontainer::after, .row::after{
	content: "";
	clear: both;
	display: table;

}
.title {
	text-align: center;
	color: #E2E7D3;
}


.button {
	border: none;
	outline: 0;
	display: inline-block;
	padding: 8px;
	color: #9CB3BD;
	background-color: #122729;
	text-align: center;
	width: 100%;
}
.button:hover {
	background-color: #88888E;
	color: #E2E7D3;
    
}


/* Contact Card Management */

.cardimage {
	width: 100%;
}

.contactcard{
	width: 100%;
	list-style: none;
	margin-bottom: 6em;
	background-color: black;
}


.servcard{
	width: 100%;
	list-style: none;
}

/* History Card Management */

.historycard {
	padding: 0 0 12px;
}
p{
	color: #E2E7D3;
}