/*
Jason Hope
Victus Technologies
6/29/2018
*/

/* Column Management */
.centerpiece{
	position: relative;
	margin: 2em;
}

.articlecolumnleft {
    float: left;
    width: 43%;
    margin-left: 5em;
}

.articlecolumnright{
    float: right;
    width: 43%;
    margin-right: 5em;
}

/*Card Management Overrides [See cardmanager.css]*/
.cardcontainer {
    position: absolute;
    bottom: 8px;
    right: 16px;
    width: 65%;
	padding: 0 16px;
    background-color: rgba(25, 31, 31, 0.9);
}
.servcardcontainer {
    position: absolute;
	top: 2em;
	left: 50%;
	z-index: 99;
	width: 35em;
	padding: 0 16px;
    background-color: rgba(25, 31, 31, 1);
	transform: translate(-50%, -50%);
}
.contactcard {
    position: relative;
	margin-bottom: 6em;
}



/* Portfolio Container - Acts as a Slideshow and displays different links */
.portcontainer {
    top: 50%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;   
    list-style: none;
	position: relative;
}
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
.caption-container {
  font-style: italic;
  font-size: 23px;
  position: absolute;
  top: 50%;
  width: 150px;
  text-align: center;
  background-color: rgba(25, 31, 31, 1);
  padding: 2px 16px;
  color: white;
}

.row{
  position: absolute;
  bottom: 8px; 
  left: 50%;
  transform: translate(-50%);
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.column {
  float: left;
}
.demo {
  opacity: 0.6;
}
.active,
.demo:hover {
  opacity: 1;
}