/*
Jason Hope 
Victus Technologies
7/2/2018
*/

/* Standard styles that apply to whole page */
body {
	background: url(imagecalls/background.png);
	padding: 0;
	margin: 0;
}

h2 {
	color: white;
}




/* Logo Animation */
.header{
	text-align: center;
	position: relative;
	display: inline-block;
	z-index: 99;
}
.slogo{
	border-radius: 100%;
	display: block;
	width: 96px;
}
.header .alogo{
	border-radius: 100%;
	position: absolute;
	display: none;
	width: 100%;
	top: 0;
	left: 0;

}
.header:hover .alogo{
	display: inline;
}



/* Navigation Bar, Centered */ 
.nav {
	display: flex;
	justify-content: center;

}
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
	padding: 0;
}
li {
	width: 100%;
}
li a {
	background-color: #111;
    display: block;
	text-decoration: none;
	text-align: center;
}

li a.glitch 
{
	font-size: 20px;
    display: block;
	width: 100%;
	line-height: 96px;
	padding: auto;
    text-decoration: none;
	text-align: center;
}

li a:hover{
    background-color: #222;
}
.active{
	background-color: #111;
}

