/*
Jason Hope 
Victus Technologies
7/2/2018
*/



/* Logo Animation */
.header{
	text-align: center;
	position: relative;
	display: inline-block;
	z-index: 99;
}
.slogo{
	border-radius: 100%;
	display: block;
	width: 120px;
}
.header .alogo{
	border-radius: 100%;
	position: absolute;
	display: none;
	width: 100%;
	top: 0;
	left: 0;

}
.header:hover .alogo{
	display: inline;
}



/* Navigation Bar, Centered */ 
.nav {
	display: flex;
	justify-content: center;

}
ul {
    list-style-type: none;
    overflow: hidden;
    margin: 0;
	margin-right: 40%;
	padding: 0;
}
li {
	width: 100%;
}
li a {
	margin-left: 15px;
	background-color: #333;
    display: block;
    color: white;
    text-align: center;
	width: 100%;
	left: -60px;
    padding: 15px 0px;
    text-decoration: none;
	z-index: 0;
}
li a:hover, .active {
    background-color: #111;
}

