/*
Jason Hope
Victus Technologies
7/9/2018
*/

/* Column Management */
.columnleft, .columnright {
	margin-top: 6em;
}
.columnleft {
	float: left;
	width: 55%;
	margin-left: 5em;
}
.columnright {
	float: right;
	width: 30%;
	margin-right: 5em;
}

/*Card Management Overrides [See cardmanager.css]*/
.cardcontainer {
    position: absolute;
    bottom: 8px;
    right: 16px;
    width: 65%;
	padding: 0 16px;
    background-color: rgba(25, 31, 31, 0.9);
}
.contactcard {
    position: relative;
	margin-bottom: 6em;
}
