/*
Jason Hope
Victus Technologies
7/12/2018
*/

/* Column Management */
.columnleft, .columnright {
}
.column{
    float: left;
    width: 30%;
}

.cardcontainer{
	margin: 1em;
	background-color: rgba(45, 41, 41, 1)
}

.cardimageleft {
	padding: 0 16px;
	width: 25%;
	float: left;
	filter: grayscale(40%) brightness(.5) blur(1px);
	transition: 1s ease;

}
.cardimageleft:hover{
	filter: grayscale(0%) brightness(1) blur(0px);
}


.cardimageright{
	padding: 0 16px;
	width: 25%;
	float: right;
	filter: grayscale(40%) brightness(.5) blur(1px);
	transition: 1s ease;
}
.cardimageright:hover{
	filter: grayscale(0%) brightness(1) blur(0px);

}

p.servtext{
	margin: 1em;
	padding: 3px;
	color: white;
}

.servcardcontainerleft {
	left: 8em;
    position: absolute;
	z-index: 99;
	width: 13%;
	opacity: 0;
	transition: 1s ease;
}
.servcard:hover .servcardcontainerleft{
	opacity: 1;
}

.servcardcontainerright{
	right: 8em;
    position: absolute;
	z-index: 99;
	width: 13%;
	opacity: 0;
	transition: 1s ease;
}

.servcard:hover .servcardcontainerright{
	opacity: 1;
}