/*
Jason Hope
Victus Technologies
7/12/2018
*/

/* Column Management */
.column{
    float: left;
    width: 30%;
}

.cardcontainer{
	margin: 1em;
	background-color: rgba(45, 41, 41, 1)
}

.cardimageleft {
	padding: 0 16px;
	width: 25%;
	float: left;
	filter: grayscale(45%) brightness(.45);
	transition: 1s ease;

}

.cardimageright{
	padding: 0 16px;
	width: 25%;
	float: right;
	filter: grayscale(45%) brightness(.45);
	transition: 1s ease;
}

.cardimageleft:hover{
	filter: grayscale(0%) brightness(1);
}
.cardimageright:hover{
	filter: grayscale(0%) brightness(1);
}


p.servtext{
	margin: 1em;
	padding: 3px;
	color: white;
}

.servcardcontainerleft {
	left: 1em;
    position: absolute;
	z-index: 99;
	width: 13%;
	opacity: 1;
	transition: 1s ease;
}

.servcardcontainerright{
	right: 1em;
    position: absolute;
	z-index: 99;
	width: 13%;
	opacity: 1;
	transition: 1s ease;
}